examples/src/test/resources/fpml/test/xsd/note.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="note">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="to" type="xsd:string"/>
                <xsd:element name="from" type="xsd:string"/>
                <xsd:element name="heading" type="xsd:string"/>
                <xsd:element name="body" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>